pillow~=11.3.0
pip~=25.1.1
attrs~=25.3.0
idna~=3.10
multidict~=6.6.4
propcache~=0.3.2
Faker~=37.5.3
click~=8.2.1
shellingham~=1.5.4
pycryptodome~=3.23.0
Django~=5.2.5
asgiref~=3.9.1
sqlparse~=0.5.3
psycopg2~=2.9.10
colorama~=0.4.6
requests~=2.32.4
semver~=3.0.4
yarl~=1.20.1
aiohttp~=3.12.15
aiosignal~=1.4.0
frozenlist~=1.7.0
aiohappyeyeballs~=2.6.1
certifi~=2025.8.3
urllib3~=2.5.0
openpyxl~=3.1.5
et_xmlfile~=2.0.0
charset-normalizer~=3.4.3