{% extends 'base.html' %}

{% block title %}Admin Dashboard{% endblock %}
{% block sidebar %}{% include 'sidebar.html' %} {% endblock %}

{% block content %}
    <div class="page-wrapper">
        <p><a href="{% url 'unified_logout' %}">Logout</a></p>
        <p>This is your admin dashboard.</p>

        {% if messages %}
            {% for message in messages %}
                <p class="message {{ message.tags }}">{{ message }}</p>
            {% endfor %}
        {% endif %}

        {% include 'admin/teacher_form.html' %}
        {% include 'admin/teacher_list.html' %}
        {% include 'admin/student_ranking.html' %}
        {% include 'admin/add_progress.html' %}

    </div>



{% endblock %}
