<div class="row p-5" >



    <div class="col-4">
        <div class="card radius-10">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div>
                        <p class="mb-0 text-secondary">No. Students</p>
                        <h4 class="my-1">{{ student_count }}</h4>
                    </div>
                    <div class="text-primary ms-auto font-35"><i class="bx bx-merge"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="col-4">
        <div class="card radius-10">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div>
                        <p class="mb-0 text-secondary">CS Students</p>
                        <h4 class="my-1">{{ student_count_CS }}</h4>
                    </div>
                    <div class="text-primary ms-auto font-35"><i class="bx bx-minus-back"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="col-4">
        <div class="card radius-10">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div>
                        <p class="mb-0 text-secondary">IT Students</p>
                        <h4 class="my-1">{{ student_count_IT }}</h4>
                    </div>
                    <div class="text-primary ms-auto font-35"><i class="bx bx-minus-front"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="col-6">
        <div class="card radius-10">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div>
                        <p class="mb-0 text-secondary">No. Teachers</p>
                        <h4 class="my-1">{{ teacher_count }}</h4>
                    </div>
                    <div class="text-primary ms-auto font-35"><i class="bx bx-user"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="col-6">
        <div class="card radius-10">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div>
                        <p class="mb-0 text-secondary">No. Sections</p>
                        <h4 class="my-1">{{ section_count }}</h4>
                    </div>
                    <div class="text-primary ms-auto font-35"><i class="lni lni-graph"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-12">
        <div class="card radius-10">
            <div class="card-body">
                <div id="section_ranking"></div>
            </div>
        </div>
    </div>
</div>