

{% extends 'base.html' %}
{% load static %}

{% block title %}Admin Dashboard{% endblock %}
{% block sidebar %}{% include 'sidebar.html' %} {% endblock %}

{% block header %} {% include 'header.html' %} {% endblock %}


{% block content %}
    <div class="page-wrapper">

        <div class="row p-5">
            <div class="card">
                <div class="card-body p-5">
                    <h6 class="mb-0 text-uppercase">Create New Teacher</h6>
                    <hr>


                    <div class="row">
                        <div class="col-4">
                            <p class="font-16">Teacher ID:</p>
                        </div>
                        <div class="col-8">
                            <div class="input-group mb-3">
                                <input name="teacher_id" id="teacher_id" class="form-control" type="text"
                                       placeholder="Teacher ID"
                                       aria-label="Teacher ID">
                                <button class="btn btn-outline-primary" type="button" id="button-addon2">Generate ID
                                </button>
                            </div>

                        </div>
                    </div>


                    <div class="row">
                        <div class="col-4">
                            <p class="font-16">Full Name:</p>
                        </div>
                        <div class="col-8">
                            <div class="row">
                                <div class="col">
                                    <input name="first_name" id="first_name" class="form-control mb-3" type="text"
                                           placeholder="First Name"
                                           aria-label="default input example">

                                </div>
                                <div class="col">
                                    <input name="last_name" id="last_name" class="form-control mb-3" type="text"
                                           placeholder="Last Name"
                                           aria-label="default input example">
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-4">
                            <p class="font-16">Password:</p>
                        </div>
                        <div class="col-8">
                            <div class="input-group mb-3">
                                <input name="password" id="password" class="form-control" type="password"
                                       placeholder="Password"
                                       aria-label="Password" value="123">
                                <a href="javascript:;" class="input-group-text bg-transparent" id="togglePassword"><i
                                        class="bx bx-hide"></i></a>
                            </div>

                        </div>
                    </div>


                </div>


            </div>
        </div>


        <h3>Create New Teacher</h3>
        <form method="post" action="{% url 'create_teacher' %}">
            {% csrf_token %}
            <label for="teacher_id">Teacher ID:</label><br>
            <input type="text" id="teacher_id" name="teacher_id" required><br><br>


            <label for="first_name">First Name:</label><br>
            <input type="text" id="first_name" name="first_name" required><br><br>


            <label for="last_name">Last Name:</label><br>
            <input type="text" id="last_name" name="last_name" required><br><br>


            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" required><br><br>

            <!-- 🔒 Year level is always 1 -->
            <input type="hidden" name="year_level" value="1">

            <div id="section-group-container">
                <div class="section-group">
                    <label>Department:</label>
                    <select name="departments[]" class="dept-select" required>
                        <option value="">-- Select Department --</option>
                        {% for dept in departments %}
                            <option value="{{ dept.id }}">{{ dept.name }}</option>
                        {% endfor %}
                    </select>

                    <label>Section Letter:</label>
                    <select name="letters[]" class="section-select" required>
                        <option value="">-- Select Section Letter --</option>
                        {% for letter in "ABCDEFGHIJKLMNOPQRSTUVWXYZ" %}
                            <option value="{{ letter }}">{{ letter }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>


            <button type="button" onclick="addSectionGroup()">➕ Add More Sections</button>
            <!-- SECTION GROUP END -->

            <br><br>
            <button type="submit">Create Teacher</button>
        </form>


        {% include 'admin/teacher_list.html' %}


    </div>














{% endblock %}


{% block footer %}


    {% include 'footer.html' %}


{% endblock %}


{% block scripts %}


    <!-- JavaScript to add more section groups -->
    <script>
        function addSectionGroup() {
            const container = document.getElementById('section-group-container');
            const firstGroup = container.querySelector('.section-group');
            const newGroup = firstGroup.cloneNode(true);

            // Clear values of cloned selects
            const deptSelect = newGroup.querySelector('.dept-select');
            const sectionSelect = newGroup.querySelector('.section-select');

            deptSelect.selectedIndex = 0;
            sectionSelect.selectedIndex = 0;

            container.appendChild(newGroup);
        }
    </script>

    <script>
        $(document).ready(function () {
            $('#togglePassword').click(function () {
                var input = $('#password');
                var type = input.attr('type') === 'password' ? 'text' : 'password';
                input.attr('type', type);

                // Toggle the icon
                $(this).find('i').toggleClass('bx-hide bx-show');
            });
        });
    </script>




    <script>
        $(document).ready(function () {
            $('#button-addon2').click(function () {
                var currentYear = new Date().getFullYear(); // Get the current year
                var randomPart = Math.floor(Math.random() * 900000 + 100000); // Generate a random number between 100000 and 999999
                var teacherId = currentYear.toString().slice(-2) + '-' + randomPart.toString().slice(0, 4) + '-' + randomPart.toString().slice(4);

                $('#teacher_id').val(teacherId); // Set the generated ID into the input field
            });
        });
    </script>


{% endblock %}

