

{% extends 'base.html' %}
{% load static %}

{% block title %}Admin Dashboard{% endblock %}
{% block sidebar %}{% include 'sidebar.html' %} {% endblock %}

{% block header %} {% include 'header.html' %} {% endblock %}


{% block content %}
    <div class="page-wrapper">

        <div class="row p-5">
            <div class="card">
                <div class="card-body p-5">
                    <h6 class="mb-0 text-uppercase">Create New Teacher</h6>


                    {% if not show_in_table %}
                        <div class="d-block">
                            {% include 'utility/alert_message.html' %}
                        </div>
                    {% else %}
                        <div class="d-none">
                            {% include 'utility/alert_message.html' %}
                        </div>
                    {% endif %}


                    <hr>
                    <form method="post" action="{% url 'create_teacher' %}" id="teacher_form">
                        {% csrf_token %}


                        <div class="row">

                            <div class="col-4">
                                <p class="font-16">Teacher ID:</p>
                            </div>
                            <div class="col-8">
                                <div class="input-group mb-3">
                                    <input name="teacher_id" id="teacher_id" class="form-control" type="text"
                                           placeholder="Teacher ID"
                                           aria-label="Teacher ID" required>
                                    <button class="btn btn-outline-primary" type="button" id="button-addon2">Generate ID
                                    </button>
                                </div>

                            </div>
                        </div>


                        <div class="row">
                            <div class="col-4">
                                <p class="font-16">Full Name:</p>
                            </div>
                            <div class="col-8">
                                <div class="row">
                                    <div class="col">
                                        <input name="first_name" id="first_name" class="form-control mb-3" type="text"
                                               placeholder="First Name"
                                               aria-label="default input example" required>

                                    </div>
                                    <div class="col">
                                        <input name="last_name" id="last_name" class="form-control mb-3" type="text"
                                               placeholder="Last Name"
                                               aria-label="default input example" required>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-4">
                                <p class="font-16">Password:</p>
                            </div>
                            <div class="col-8">
                                <div class="input-group mb-3">
                                    <input name="password" id="password" class="form-control" type="password"
                                           placeholder="Password"
                                           aria-label="Password" value="123">
                                    <a href="javascript:;" class="input-group-text bg-transparent"
                                       id="togglePassword"><i
                                            class="bx bx-hide"></i></a>
                                </div>

                            </div>

                            <input type="hidden" name="year_level" value="1" class="d-none">
                        </div>


                        <div class="row">
                            <hr class="my-4">
                            <h6 class="text-uppercase mb-3 font-weight-bold">Manage Sections</h6>

                            <!-- SECTION GROUP START -->
                            <div id="section-group-container">
                                <div class="section-group mb-3">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="department" class="font-16">Department:</label>
                                            <select name="departments[]" class="form-select" required>
                                                <option value="">-- Select Department --</option>
                                                {% for dept in departments %}
                                                    <option value="{{ dept.id }}">{{ dept.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="section_letter" class="font-16">Section Letter:</label>
                                            <select name="letters[]" class="form-select" required>
                                                <option value="">-- Select Section Letter --</option>
                                                {% for letter in "ABCDEFGHIJKLMNOPQRSTUVWXYZ" %}
                                                    <option value="{{ letter }}">{{ letter }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <button type="button" class="btn btn-outline-success float-end btn-sm ms-2"
                                        onclick="addSectionGroup()">
                                    <i class="bx bx-plus mr-1"></i>Add More Sections
                                </button>
                                <button type="button" class="btn btn-outline-danger float-end btn-sm ms-2"
                                        onclick="removeLastSection()">
                                    <i class="bx bx-minus mr-1"></i>Remove Last Section
                                </button>
                            </div>


                        </div>
                        <!-- Section Management Separator -->


                        <button type="submit" class="btn btn-primary">
                            <i class="bx bxs-user mr-1"></i>Create Teacher
                        </button>


                        <!-- SECTION GROUP END -->


                    </form>
                </div>


            </div>

            <div class="login-separater text-center mb-4"><span style="background-color: #f0f0f0">TEACHER DETAILS</span>
                <hr>
            </div>


            {% include 'admin/teacher_list.html' %}
        </div>


    </div>

















{% endblock %}


{% block footer %}


    {% include 'footer.html' %}


{% endblock %}


{% block scripts %}
    {#section groups#}

    <!-- JavaScript to add more section groups -->
    <script>
        function addSectionGroup() {
            // Clone the first section group
            var $container = $('#section-group-container');
            var $firstGroup = $container.find('.section-group').first();
            var $newGroup = $firstGroup.clone();

            // Clear values of cloned selects
            $newGroup.find('select[name="departments[]"]').prop('selectedIndex', 0);
            $newGroup.find('select[name="letters[]"]').prop('selectedIndex', 0);

            // Append the new section group to the container
            $container.append($newGroup);
        }

        function removeLastSection() {
            var $container = $('#section-group-container');

            // Remove the last section group if there are multiple
            if ($container.find('.section-group').length > 1) {
                $container.find('.section-group').last().remove();
            } else {
                alert("You must have at least one section.");
            }
        }
    </script>



    {#    show password #}
    <script>
        $(document).ready(function () {
            $('#togglePassword').click(function () {
                var input = $('#password');
                var type = input.attr('type') === 'password' ? 'text' : 'password';
                input.attr('type', type);

                // Toggle the icon
                $(this).find('i').toggleClass('bx-hide bx-show');
            });
        });
    </script>





    {#id generation#}

    <script>
        $(document).ready(function () {
            $('#button-addon2').click(function () {
                var currentYear = new Date().getFullYear(); // Get the current year
                var randomPart1 = Math.floor(Math.random() * 9000 + 1000); // Generate a 4-digit random number between 1000 and 9999
                var randomPart2 = Math.floor(Math.random() * 900 + 100); // Generate a 3-digit random number between 100 and 999
                var teacherId = currentYear.toString().slice(-2) + '-' + randomPart1 + '-' + randomPart2; // Format as xx-xxxx-xxx

                $('#teacher_id').val(teacherId); // Set the generated ID into the input field
            });
        });

    </script>





{% endblock %}



