{% block sidebar %}
    <div class="sidebar-wrapper" data-simplebar="init">
        <div class="simplebar-wrapper" style="margin: 0px;">
            <div class="simplebar-height-auto-observer-wrapper">
                <div class="simplebar-height-auto-observer"></div>
            </div>
            <div class="simplebar-mask">
                <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                    <div class="simplebar-content-wrapper" style="height: 100%; overflow: hidden scroll;">
                        <div class="simplebar-content mm-active" style="padding: 0px;">
                            <div class="">
                                <div>
                                    <h3 class="text-primary my-2 text-center">ThinkJava</h3>
                                </div>
                            </div>
                            <hr class="m-0">
                            <!--navigation-->
                            <ul class="metismenu mm-show" id="menu">
                                <li>
                                    <a href="#">
                                        <div class="parent-icon"><i class="bx bx-home"></i>
                                        </div>
                                        <div class="menu-title">Dashboard</div>
                                    </a>
                                </li>


                            </ul>


                            <!--end navigation-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="simplebar-placeholder" style="width: auto; height: 1351px;"></div>
        </div>
        <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
            <div class="simplebar-scrollbar"
                 style="width: 0px; display: none; transform: translate3d(0px, 0px, 0px);"></div>
        </div>
        <div class="simplebar-track simplebar-vertical" style="visibility: visible;">
            <div class="simplebar-scrollbar"
                 style="height: 680px; transform: translate3d(0px, 0px, 0px); display: block;"></div>
        </div>
    </div>

{% endblock %}