<div class="sidebar-wrapper" data-simplebar="init">
    <div class="simplebar-wrapper" style="margin: 0px;">
        <div class="simplebar-height-auto-observer-wrapper">
            <div class="simplebar-height-auto-observer"></div>
        </div>
        <div class="simplebar-mask">
            <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                <div class="simplebar-content-wrapper" style="height: 100%; overflow: hidden scroll;">
                    <div class="simplebar-content mm-active h-100 d-flex flex-column" style="padding: 0px;">
                        <div class="sidebar-header">
                            <div>
                                <h4 class="logo-text">ThinkJava</h4>
                            </div>
                            <div class="toggle-icon ms-auto"><i class="bx bx-first-page"></i>
                            </div>
                        </div>
                        <hr class="m-0">
                        <!--navigation-->
                        <ul class="metismenu px-2 mm-show h-100" id="menu">

                            <li>

                                {% if request.session.role == 'ADMIN' %}
                                    <a href="{% url 'admin_dashboard' %}">



                                {% elif request.session.role == 'TEACHER' %}
                                    <a href="{% url 'teacher_dashboard' %}">



                                {% elif request.session.role == 'STUDENT' %}
                                    <a href="{% url 'student_dashboard' %}">



                                {% endif %}
                                <div class="parent-icon"><i class="bx bx-home"></i>
                                </div>
                                <div class="menu-title">Dashboard</div>
                                </a>
                            </li>




                            {% if request.session.role == 'ADMIN' %}

                                <li>
                                    <a href="javascript:;" class="has-arrow">
                                        <div class="parent-icon"><i class="bx bx-edit"></i>
                                        </div>
                                        <div class="menu-title">Manage Teachers</div>
                                    </a>
                                    <ul class="mm-collapse">
                                        <li><a href="{% url 'create_teacher' %}"><i class="bx bx-right-arrow-alt"></i>Add
                                            New Teacher</a>
                                        </li>
                                        <li><a href="{% url 'create_teacher' %}#teacher_table"><i
                                                class="bx bx-right-arrow-alt"></i>List of Teachers</a>
                                        </li>

                                    </ul>
                                </li>

                            {% endif %}




                            {% if request.session.role == 'TEACHER' %}


                                <li>
                                    <a href="javascript:;" class="has-arrow">
                                        <div class="parent-icon"><i class="bx bx-edit"></i>
                                        </div>
                                        <div class="menu-title">Manage Students</div>
                                    </a>
                                    <ul class="mm-collapse">
                                        <li><a href="{% url 'register_student' %}"><i class="bx bx-right-arrow-alt"></i>Add
                                            New Student</a>
                                        </li>
                                        <li><a href="{% url 'register_student' %}#list_of_students"><i
                                                class="bx bx-right-arrow-alt"></i>List of Students</a>
                                        </li>

                                    </ul>
                                </li>

                                <li>
                                    <a href="{% url 'progress_control_teacher' %}">
                                        <div class="parent-icon"><i class="lni lni-game"></i>
                                        </div>
                                        <div class="menu-title">Game Controls</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'pre_post_test_view' %}">
                                        <div class="parent-icon"><i class="lni lni-question-circle"></i>
                                        </div>
                                        <div class="menu-title">Test Controls</div>
                                    </a>
                                </li>

                            {% endif %}


                            {% if request.session.role == 'ADMIN' %}
                                <li>
                                    <a href="{% url 'admin_student_ranking' %}">
                                        <div class="parent-icon"><i class="bx bx-bar-chart-square"></i>
                                        </div>
                                        <div class="menu-title">Student Ranks</div>
                                    </a>
                                </li>
                            {% elif request.session.role == 'TEACHER' %}
                                <li>
                                    <a href="{% url 'teacher_student_ranking' %}">
                                        <div class="parent-icon"><i class="bx bx-bar-chart-square"></i>
                                        </div>
                                        <div class="menu-title">Student Ranks</div>
                                    </a>
                                </li>
                            {% elif request.session.role == 'STUDENT' %}
                                <li>
                                    <a href="{% url 'student_ranking' %}">
                                        <div class="parent-icon"><i class="bx bx-bar-chart-square"></i>
                                        </div>
                                        <div class="menu-title">Class Ranks</div>
                                    </a>
                                </li>
                            {% endif %}



                            {% if request.session.role == 'ADMIN' or request.session.role == 'TEACHER' %}
                                <li>
                                    <a href="{% url 'admin_view_logs' %}">
                                        <div class="parent-icon"><i class="lni lni-write"></i>
                                        </div>
                                        <div class="menu-title">Activity Logs</div>
                                    </a>
                                </li>
                            {% endif %}


                            <li class="mt-auto">
                                <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#logoutConfirmModal">
                                    <div class="parent-icon "><i class="bx bx-log-out text-danger"></i></div>
                                    <div class="menu-title text-danger">Logout</div>
                                </a>
                            </li>
                        </ul>


                        <!--end navigation-->
                    </div>
                </div>
            </div>
        </div>
        <div class="simplebar-placeholder" style="width: auto; height: 1351px;"></div>
    </div>
</div>


{% include "utility/modal_dialogue.html" with modal_id="logoutConfirmModal" modal_title="Confirm Logout" modal_body="<span>Are you sure you want to log out?</span>" modal_width="400px" modal_buttons="['yes','cancel']" modal_classes="['btn btn-danger','btn btn-primary']" %}


