{#{% extends 'base.html' %}#}
{##}
{#{% block title %}Teacher Dashboard{% endblock %}#}
{##}
{##}
{#{% block content %}#}
{#    <div class="page-wrapper">#}
{##}
{##}
{#        {% include 'teacher/teacher_info.html' %}#}
{##}
{#        {% if messages %}#}
{#            {% for message in messages %}#}
{#                <p class="message {{ message.tags }}">{{ message }}</p>#}
{#            {% endfor %}#}
{#        {% endif %}#}

{##}
{##}
{#    </div>#}
{##}
{#{% endblock %}#}


{% extends 'base.html' %}
{% load static %}


{% block title %}Admin Dashboard{% endblock %}


{% block sidebar %}{% include 'sidebar.html' %} {% endblock %}


{% block header %} {% include 'header.html' %} {% endblock %}



{% block content %}
    <div class="page-wrapper">


        {% include 'teacher/teacher_info.html' %}

        <div class="d-none">
            {% include 'teacher/register_student.html' %}
        {% include 'teacher/generate_section_code.html' %}
        {% include 'teacher/progress_control.html' %}
        </div>


    </div>






{% endblock %}




{% block footer %}
    {% include 'footer.html' %}
{% endblock %}


{% block scripts %}


    <script>


        Highcharts.chart('department_count', {
            chart: {
                type: 'pie',
                height: 230,
            },
            title: {
                text: 'Temporary Pie Chart'
            },
            plotOptions: {
                pie: {
                    dataLabels: {
                        enabled: false // Disable all data labels
                    }
                }
            },

            series: [{
                name: 'Market Share',
                data: [
                    {name: 'Chrome', y: 61.4},
                    {name: 'Internet Explorer', y: 11.8},
                    {name: 'Firefox', y: 10.9},
                    {name: 'Edge', y: 4.7},
                    {name: 'Safari', y: 4.2},
                    {name: 'Other', y: 7.05}
                ]
            }]
        });


        Highcharts.chart('handled_section_ranking', {
            chart: {
                type: 'column',  // Column chart type
                height: '500',
            },
            title: {
                text: 'Top 5 Sections by Average Score'  // Title of the chart
            },
            subtitle: {
                text: 'Based on student performance'
            },
            legend: {
                enabled: false  // Disable the legend (removes the clickable item)
            },
            xAxis: {
                categories: ['Section A', 'Section B', 'Section C', 'Section D', 'Section E'],  // X-axis labels as section names
                title: {
                    text: 'Section'  // Label for X-axis
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Average Score'  // Label for Y-axis
                }
            },
            credits: {
                enabled: false  // Disable Highcharts branding (the "Highcharts.com" logo and link)
            },
            series: [{
                name: 'Average Score',
                data: [85.6, 78.4, 92.3, 88.7, 80.5],  // Y-axis data (average scores for each section)
                colorByPoint: true,  // Apply color to each point (bar)
                colors: ['#3498db', '#e74c3c', '#2ecc71', '#f39c12', '#9b59b6'],  // Custom colors array
                dataLabels: {
                    enabled: true,
                    formatter: function () {
                        return this.y.toFixed(2);  // Format the value to 2 decimal places
                    },// Enable data labels
                    style: {
                        fontWeight: 'bold',
                        color: 'white'  // Color of the data label text
                    }
                }
            }]
        });
    </script>

{% endblock %}


