



{% block register_student %}
    <h3>Register New Student</h3>



    <form method="post" action="{% url 'register_student_teacher' %}">
        {% csrf_token %}
        <div>
            <label for="student_id">Student ID:</label>
            <input type="text" name="student_id" id="student_id" required>
        </div>

        <div>
            <label for="student_id">First Name:</label>
            <input type="text" name="student_id" id="student_id" required>
        </div>

        <div>
            <label for="student_id">Last Name</label>
            <input type="text" name="student_id" id="student_id" required>
        </div>

        {#        <div>#}
        {#            <label for="password">Password:</label>#}
        {#            <input type="password" name="password" id="password" required>#}
        {#        </div>#}


        {#<p>{{ handled_sections }}</p>#}

        <div>
            <label for="section_id">Assign to Section:</label>
            <select name="section_id" id="section_id" required>
                {% for hs in handled_sections %}
                    <option value="{{ hs.section.id }}">
                        {{ hs.department.name }}{{ hs.year_level.year }}{{ hs.section.letter }}
                    </option>
                {% empty %}
                    <option disabled>No sections available</option>
                {% endfor %}
            </select>
        </div>

        <button type="submit">Register Student</button>
    </form>
{% endblock %}




