<div class="row p-5">
    <div class="col-12">
        <div class="card">
            <div class="card-body p-5">
                <h3>Welcome, <span class="text-primary">{{ teacher.first_name }} {{ teacher.last_name }}</span></h3>
                <hr>


                <div class="row">
                    <div class="col d-flex align-items-center mb-3">
                        <span class="font-20">Teacher ID: <span class="badge bg-primary px-3 py-2 text-center">{{ teacher.teacher_id}}</span></span>
                    </div>
                    <div class="col-12 d-flex justify-content-between align-items-center">
                        <span class="font-20">Handled Sections: </span>
                        <ul class="m-0">
                            {% for hs in handled_sections %}
                                <span class="badge bg-primary px-3 py-2 text-center">{{ hs.department.name }}{{ hs.year_level.year }}{{ hs.section.letter }}</span>
                            {% empty %}
                                <li>No sections assigned.</li>
                            {% endfor %}
                        </ul>
                    </div>


                </div>
            </div>

        </div>
    </div>

    <div class="col-6 ">
        <div class="card radius-10" style="">
            <div class="card-body ">
                <div id="department_count"></div>


            </div>
        </div>
    </div>
    <div class="col-6">


        <div class="row">
            <div class="col-12 ">

                <div class="card radius-10">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div>
                                <p class="mb-0 text-secondary">Total IT Sections Handled</p>
                                <h4 class="my-1">{{ total_it_section }}</h4>
                            </div>
                            <div class="text-primary ms-auto font-35"><i class="bx bx-minus-front"></i>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <div class="col-12">

                <div class="card radius-10">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div>
                                <p class="mb-0 text-secondary">Total CS Sections Handled</p>
                                <h4 class="my-1">{{ total_cs_section }}</h4>
                            </div>
                            <div class="text-primary ms-auto font-35"><i class="bx bx-minus-back"></i>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>

    <div class="col-12">
        <div class="card radius-10">
            <div class="card-body">
                <div id="handled_section_ranking"></div>
            </div>
        </div>
    </div>

</div>







