{% extends 'base.html' %}
{% load static %}


{% block title %}Teacher Dashboard{% endblock %}


{% block sidebar %}{% include 'sidebar.html' %} {% endblock %}


{% block header %} {% include 'header.html' %} {% endblock %}



{% block content %}
    <div class="page-wrapper">


        {% include 'teacher/teacher_info.html' %}


    </div>






{% endblock %}




{% block footer %}
    {% include 'footer.html' %}
{% endblock %}


{% block scripts %}


    <script>


        Highcharts.chart('department_count', {
            chart: {
                type: 'pie',
                height: 230,
            },
            title: {
                text: 'Sections by Department'
            },
            plotOptions: {
                pie: {
                    dataLabels: {
                        enabled: true, // enable if you want labels on slices
                        format: '{point.name}: {point.y}'
                    }
                }
            },
            credits: {
                enabled: false  // Disable Highcharts branding (the "Highcharts.com" logo and link)
            },
            series: [{
                name: 'Sections',
                colorByPoint: true,
                data: [
                    {name: 'Computer Science', y: {{ total_cs_section|default:0 }}},
                    {name: 'Information Technology', y: {{ total_it_section|default:0 }}}
                ]
            }]
        });

        const topStudents = {{ top_5_students|safe }};

        // Extract X and Y values
        const categories = topStudents.map(s => s.first_name + " " + s.last_name);
        const scores = topStudents.map(s => s.score);

        Highcharts.chart('handled_section_ranking', {
            chart: {
                type: 'column',
                height: '500',
            },
            title: {
                text: 'Top 5 Students by Score'
            },
            subtitle: {
                text: 'From handled sections'
            },
            legend: {
                enabled: false
            },
            xAxis: {
                categories: categories,  // student names
                title: {
                    text: 'Student'
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Score'
                }
            },
            credits: {
                enabled: false
            },
            series: [{
                name: 'Score',
                data: scores,   // student scores
                colorByPoint: true,
                dataLabels: {
                    enabled: true,
                    formatter: function () {
                        return this.y.toFixed(0);  // No decimals for scores
                    },
                    style: {
                        fontWeight: 'bold',
                        color: 'white'
                    }
                }
            }]
        });
    </script>




{% endblock %}


