{% extends 'base.html' %}
{% load static %}


{% block title %}Manage Students{% endblock %}


{% block sidebar %}{% include 'sidebar.html' %} {% endblock %}


{% block header %} {% include 'header.html' %} {% endblock %}



{% block content %}
    <div class="page-wrapper">
        <div class="row ps-5 pt-5 pe-5">
            <div class="col p-0">
                <div class="card mb-0">
                    <div class="card-body p-5"> TEST SETTING</div>
                </div>

            </div>
        </div>
        <div class="row p-5">

            <div class="col-7">
                <div class="row justify-content-center flex-column align-items-center">
                    <div class="card">
                        <div class="card-body p-5"> test</div>
                    </div>
                    <div class="p-0">
                        <button class="btn btn-outline-primary w-100 "><i class="bx bx-plus"></i> Add More Question
                        </button>
                    </div>

                </div>
            </div>


            <div class="col">
                <div class="row ps-5">
                    <div class="card">
                        <div class="card-body p-5"> Results for each sections</div>
                    </div>

                </div>
            </div>
        </div>


    </div>






{% endblock %}




{% block footer %}
    {% include 'footer.html' %}
{% endblock %}








{% block register_student %}

{% endblock %}






